main{
    grid-template-columns: 100%;
    grid-template-rows: 968px 763px 1096px 909px 985px 984px  1140px 250px;
    /* border: 2px solid black; */
    overflow: hidden;
}
main>*{
    /* border: 1px solid blue; */
    /* background-color: aqua; */
}
header{
    grid-template-columns: 100%;
    grid-template-rows: 73px 895px ;
}
header>*{
    /* border: 1px solid black; */
}
.top-header{
    /* align-items: stretch; */
}
.top-header>*{
    /* border: 1px solid black; */
}
.top-header>section,
.top-header>span{
    height: 100%;
}
.top-header>section{
    left: 20%;
}
.top-header>span{
    right: 20%;
    font-size: 3rem;
    /* font-weight: bold; */
    /* background-color: aqua; */
    width: 65px;
    border-radius: 50px;
    transition: 2s;    
}
h1,.img-header>section>nav>p{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418)
}
h1{
    font-size: 4.5rem;
    /* background-color: aquamarine; */
    justify-self: center;
    text-indent: 55.5px;   
}
.img-header>section>nav>p{
    font-size: 1.5rem;
    /* background-color:aqua; */
    width: 100%;
    text-align: center;
    top: 35px;
}
.img-header{
    background-image: url(img/ggffg-min.jpg);
    flex-wrap: wrap;
}
.img-header::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.397);
}
.img-header>section{
    top: 400px;
    width: 1000px;
    height: 400px;
    /* border: 1px solid black; */
    z-index: 1;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto;
}
.img-header>section>*{
    /* border: 1px solid black; */
}
.img-header>section>nav>ul{
    /* background-color: blueviolet; */
    width: 100%;
    top: 100px;
    height: 50px;
}
.img-header>section>nav>ul>li{
    /* border: 1px solid black; */
    /* align-items: center; */
    border-radius: 50px;
    width: 250px;
}
.img-header>section>nav>ul>li:hover>p:nth-of-type(2){
    width: 100%;
    transition: 1.3s cubic-bezier(.28,2,.64,-0.81);
}    
.img-header>section>nav>ul>li:nth-of-type(1){
    margin-right: 55px;
    margin-left: 28px;
}
.img-header>section>nav>ul>li:nth-of-type(4){
    margin-left: 50px;
}
.img-header>section>nav>ul>li:nth-of-type(2){
    margin-right: 20px;
}
.img-header>section>nav>ul>li>p{
    height: 100%;
    left: 0;
    top: 0;
 }
 .img-header>section>nav>ul>li>p:nth-of-type(1){
    width: 100%;
    background-color: rgb(241,197 , 14);
    color: black;
 }
 .img-header>section>nav>ul>li>p:nth-of-type(2){
    width: 0%;
    background-color: black;
    color: white;
 }
 .img-header>section>nav>ul>li>p>span{
    height: 100%;
    /* background-color: blue; */
    font-size: 1.3rem;
    text-transform: capitalize;
 }
 .img-header>section>nav>ul>li:nth-of-type(1)>p>span{
    left: 70px;
 }
 .img-header>section>nav>ul>li:nth-of-type(2)>p>span{
    left: 46px;
 }
 .img-header>section>nav>ul>li:nth-of-type(3)>p>span{
    left: 58px;
 }
 .img-header>section>nav>ul>li:nth-of-type(4)>p>span{
    left: 64px;
 }
 .top-header>span:hover{
    transform: rotate(90deg);
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.199);
    transition: 500ms;

}
.javapage{
    grid-template-columns: 255px 1260px;
    grid-template-rows: 968px;
    top: -73px;
    left:-101%;
    z-index: 5;
    transition: 1ms;
}
.javapage>nav{
    background-color: rgba(0, 0, 0, 0.934);
    margin-right: 300px;
    transition: 400ms;
}
.close{
    font-size: 2.5rem;
    color: white;
    /* border: 1px solid white; */
    text-align: right;
    right: 10px;
}
.close:hover{
    color: rgb(134, 133, 133);
    font-weight: bold;
    transition: 500ms;
}
.javapage>nav>ul{
    margin-top: 55px;
}
.javapage>nav>ul>li{
    color: white;
    text-transform: uppercase;
    /* border: 1px solid white; */
    padding: 20px;
    transition: .4s;
    
}
.javapage>nav>ul>li:hover{
    text-indent: 30px;
    box-shadow: -1px 3px 5px 5px rgba(255, 255, 255, 0.525);  
    text-shadow: 1.7px 1.7px 1.7px  rgba(255, 255, 255, 0.922);
    transition: 600ms;

}
.javapage>section{
    background-color: rgba(0, 0, 0, 0.497);
    transition: 600ms; 
}
/* end header------------------------------------------------------------------------------------------------------------------------------------------ */
.top-cours{
    width: 68%;
    margin: 25px auto;
    grid-template-columns: 60% 40%;
    grid-template-rows: 660px;
    /* border: 1px solid black; */
}
.c1{
    /* border: 1px solid black; */
    flex-direction: column;
}
.c1>figure{
    width: 566px;
    height: 342px;
    border-radius: 40px;
}
.c1>figure>img{
    width: inherit;
    transition: 400ms;
}
.c1>figure>img:hover{
    transform: scale(1.2);
    transition: 400ms;
}
.c1>*{
    /* border: 1px solid black; */
    margin: 10px;
}
.c1>figcaption{
    margin-top: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.607);
}
.c1>h2{
    font-size: 2.4rem;
    text-align: center;
}
.c2{
    display: flex;
    flex-direction: column;
}
.c2>*{
    /* border: 1px solid black; */
    padding: 12px;
    text-align: center;
    font-weight: bold;

}
.c2>span:nth-of-type(1){
    margin-top: 100px;
}
.c2>span>svg{
    width: 80px;
}
/* end div1 ---------------------------------------------------------------------------------------------------------------------------------------------------*/
.div2{
    grid-template-columns: 100%;
    grid-template-rows: 373px auto;
}
.div2r1{
    background-color:rgb(241, 197, 14) ;
}
.div2r1>figure{
    width: 272px;
    height: 372px;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.641);  
}
.div2r1>figure>i{
    bottom: -40px;
    right: 10px;
    color: rgb(255, 255, 255);
    z-index: 3;
    font-size: 1.4rem;
    transition: 1s cubic-bezier(.27,2,0,1.05);
}
.div2r1>figure>i:nth-of-type(2){
    right: 50px;
}
.div2r1>figure:hover>i{
    bottom: 12px;
}
.div2r1>figure>i:hover{
    color: rgb(241, 197, 14);
}
.div2r1>figure::after{
    content: '';
    width: 100%;
    height: 13%;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 2;
    bottom: -14%;
    left: 0;
    transition: .4s;
}
.div2r1>figure:hover::after{
    bottom: 0;
}
.div2r1>figure:nth-of-type(2),
.div2r1>figure:nth-of-type(4){
    margin-top: 173px;
}
.div2r1>figure:hover img{
    transform: scale(1.1);
    transition: 400ms;
}
.div2r1>figure>img{
    /* width: 450px; */
    /* height: inherit; */
    transition: 400ms;
    object-fit: cover;
}
.div2r1>figure:nth-of-type(1) img{
    width: 340px;
    right: -30px;
}
.div2r1>figure:nth-of-type(2) img{
    width: 500px;
    right: -80px;
}
.div2r1>figure:nth-of-type(2):hover img{
    right: -150px;
    transform: scale(1);
}
.div2r2{
    background-color:rgb(13, 36, 75) ;
}
.div2r1>figure:nth-of-type(3) img{
    width: 470px;
    right: -180px; 
}
.div2r1>figure:nth-of-type(3):hover img{
    right: -100px;
    transform: scale(1);
}
.div2r1>figure:nth-of-type(4) img{
    width: 285px;
    /* right: -180px; */ 
}
/* end div2r1 ----------------------------------------------------*/
.div2r2>section{
    width: 272px;
    height: 356px;
    background-color: white;
    margin-right: 20px;
    margin-top: 250px;
    border-radius: 5%;
    flex-direction: column;
    /* justify-content: center; */
    transition: 1s;
}
.div2r2>section>h3{
    margin-top: 20px;
}
.div2r2>section>p{
    color: #555c66;
}
.div2r2>section>p,
.div2r2>section>span{
    margin-top: 30px;
    text-align: center;
    font-family: sans-serif;

}
.div2r2>section>span{
    color: black;
    /* border: 1px solid black; */
    padding: 10px;
    transition: .4s;
}

.div2r2>section>.svg{
    width: 90px;
    height: 90px;
    background-color:rgb(241, 197, 14) ;
    border-radius: 50%;
    margin-top: 22px;
    box-shadow: 5px -9px 0 rgba(241, 196, 14, 0.358) ;
    transition: .5s;
}
.div2r2>section:hover{
    background-color:rgb(245, 204, 41) ;
    transform: translatey(-50px);
}
.div2r2>section:hover span{
    background-color: rgb(13, 36, 75);
    color: white;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.403);
    border-radius: 5px;
}
.div2r2>section>span:active{
 box-shadow: none;
}

.div2r2>section:hover .svg{
 background-color:rgb(13, 36, 75)  ;
 box-shadow: 5px -9px 0 rgba(13, 36, 75, 0.466) ;
}
/* end div2------------------------------------------------------------------------------------------------------------------------------------------------ */
.div3{
    background-color: rgb(247, 247, 247);
}
.div3:hover h3{
    margin-top: 80px;
    transition: 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.div3:hover>section>div{
    transform: translatex(700px);
}
.div3>h3{
    /* border: 1px solid black; */
    font-size: 60px;
    margin-top: -80px;
}
.div3>section{
    /* border: 1px solid black; */
    margin-top: 55px;
}
.div3>section>div{
    width: 527px;
    height: 576px;
    border-radius: 20px;
    left: -500px;
    transition: 2s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-image: url(img/tttt.jpg);
}
.div3:hover>section>section{
    transform: translatex(-189px);
}
.div3>section>section{
    grid-template-columns: 137px 457px;
    grid-template-rows: repeat(4 , 121px);
    /* border: 1px solid black; */
    margin-top: 40px;
    right: 0px;
    transition: 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.div3>section>section>*{
    /* border: 1px solid black; */
}
.div3>section>section>span{
    /* align-items: center; */
    margin-top: -30px;
}
.div3:hover>section>section>span{
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)  1s;
    margin-top: 20px;
} 
.div3>section>section>p{
    padding-left: 10px;
    color: rgba(17, 17, 17, 0.674);
    line-height: 26px;
}
/* end div3----------------------------------------------------------------------------------------------------------------------------------------------- */
.div4{
    background-color: rgb(255, 255, 255);
 }
 .div4>.sec1{
     background-color: rgb(13,36, 75);
     width: 777px;
     height: 801px;
     right: 0;
 }
 .div4>.sec2{
     background-image: url(img/vbvf-min.jpg);
     width: 953px;
     height: 551px;
     border-radius: 20px;
     top: 90px;
     left: 190px;
 }
 .div4>.sec3{
     background-image: url(img/college-life-modern-lifestyle.jpg);
     width: 250px;
     height: 250px;
     border-radius: 2px;
     top: 557px;
     right: 0px;
     box-shadow: 2px 2px 2px 2px rgba(75, 75, 75, 0.121);
     transition: 1.4s cubic-bezier(0,2,.64,.47);
 }
 .div4:hover>.sec3{
     top: 557px;
     right: 242px;
     width: 348px;
     height: 365px;
     transition: 1.4s cubic-bezier(0,2,.64,.47) 1s;
 }
 .div4>.sec4{
     background-color: rgb(241, 197, 14);
     width: 584px;
     height: 488px;
     left: -100%;
     bottom: 60px;
     border-radius: 20px;
     flex-direction: column;
     padding: 72px 46px;
     transition: 1.4s cubic-bezier(0,2,.64,.47);
 }
 .div4:hover>.sec4{
     left: 294px;
 }
 .div4>.sec4>h3{
     font-size: 36px;
 }
 .div4>.sec4>p{
     margin-top: 33px;
     line-height: 26px;
     color: rgba(0, 0, 0, 0.853);
 }
 .div4>.sec4>span{
     margin-top: 50px;
     background-color: rgb(13, 36, 75);
     width: 100px;
     height: 50px;
     color: white;
     border-radius: 5px;
     transition-property: width , height , margin-left , bacground-color , text-color ;
     transition-duration: 2s, 1s, 1.4s;
     transition-delay: 0s, 1s, 2s;
     transition-timing-function:cubic-bezier(0,2,.64,.47);
     margin-left: 200px;
 }
 .div4:hover>.sec4>span{
     width: 184px;
     height: 84px;
     margin-left: 0px;
 }
 .div4>.sec4>span:hover{
     background-color: white;
     color:rgb(13, 36, 75);
 }
/* end div4----------------------------------------------------------------------------------------------------------------------- */
.div5>.sec51{
    width: 100%;
    height: 450px;
    background-color: rgb(13, 36, 75);
}
.div5>.sec52{
    width: 903px;
    height: 548px;
    top: 192px;
    right: 186px;
    background-color: rgb(241, 197, 14);
    border-radius: 20px;
}
.div5>.sec53{
    background-image: url(img/sddd.jpg);
    width: 1012px;
    height: 663px;
    border-radius: 20px;
    left: 191px;
}
.div5>.sec54{
    width: 100%;
    height: 345px;
    /* border: 1px solid black; */
    top: 557px;
}
.div5>.sec54>div{
    width: 292px;
    height: 292px;
    /* border: 1px solid black; */
    right: 0px;
    border-radius: 20px;
    transition: 1s;
    background-color:rgb(13, 36, 75);
    transition-delay: .4s;
    flex-direction: column;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.375);
}
.div5>.sec54>div:nth-of-type(1){
    background-color:rgb(13, 36, 75); 
    transition-property: transform , background-color;
    transition-duration: 2s , 1s;
    transition-delay: 3.3s , 4.3s;

}
.div5:hover>.sec54>div:nth-of-type(1){
    transform: perspective(800px) translatez(2px) translateX(-376px);
    background-color: white;
    
}
.div5>.sec54>div:nth-of-type(2){
    background-color: rgb(241, 197, 14);
    transform-origin: -100%;
    transition-property: transform , background-color;
    transition-duration: 2s , 1s;
    transition-delay: 2.3s , 3.3s;
}
.div5:hover>.sec54>div:nth-of-type(2){
    transform: perspective(800px) rotateY(360deg) translatex(-688px);
    background-color: white;

}
.div5>.sec54>div:nth-of-type(3){
    background-color:rgb(13, 36, 75)  ;
    transform-origin: -100%;
    transition-property: transform , background-color;
    transition-duration: 2s , 1s;
    transition-delay: .4s , 2.4s;
}
.div5:hover>.sec54>div:nth-of-type(3){
    transform: perspective(800px) rotateY(360deg) translatex(-1000px);
    background-color: white;
}

.div5>.sec54>div>figure{
    width: 164px;
    height: 164px;
    border-radius: 50%;
    /* border: 4px solid black; */
    top: -300px;
    left: 64px;
    transform-origin: 50% 50%;
    transition:2s  cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-delay: 4s;
}
.div5:hover>.sec54>div>figure{
    top: 30px;
}
.div5:hover>.sec54>div>figure>img{
    width: 400px;
    left: -100px;
    top: -50px;
}
.div5:hover>.sec54>div:nth-of-type(2)>figure>img{
    width: 292px;
    top: -1px;
    left: -45px;
}
.div5:hover>.sec54>div:nth-of-type(1)>figure>img{
    width: 292px;
    top: -1px;
}
.div5>.sec54>div>figcaption{
    top: 7000px;
    transition:2s  cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-delay: 4s;
}
.div5:hover>.sec54>div>figcaption{
    top: 230px;
}
/* end div5----------------------------------------------------------------------------------------------------------------------------------------------------- */
.div6{
    /* border-top: 1px solid rgba(241, 196, 14, 0.804); */
}
.div6>.sec61{
    width: 100%;
    height: 522px;
    background-color: rgb(241, 197, 14);
    top: 375px;
}
.div6>.sec62{
    width: 100%;
    height: 243px;
    background-color: rgb(13, 36, 75);
    top: 897px;
}
.div6>.sec63{
    /* border: 1px solid black; */
    top: 62px;
    left: 185px;

}
.div6>.sec63>h3{
    font-size: 36px;
}
.div6>.sec63>p{
    font-size: 20px;
    line-height: 40px;
    color: #999999;
    margin-top: 40px;
}
.div6>.sec64{
    width: 100%;
    height: 351px;
    /* border: 1px solid black; */
    top: 252px;
    transform-style: preserve-3d;
}
.div6>.sec64>div{
    width: 370px;
    height: 290px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    left: 189px;
    line-height: 26px;
    padding: 30px;
    color: rgba(0, 0, 0, 0.781);
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.114);
}
.div6>.sec64>div>span{
    font-size: 30px;
    /* line-height: 36px; */;
}
.div6>.sec64>div>p{
    margin-top: 30px;
}
.div6>.sec64>div:nth-of-type(3){
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function:  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: .4s ;
}
.div6:hover>.sec64>div:nth-of-type(3){
    transform: perspective(800px)  translateX(770px) ;
}
.div6>.sec64>div:nth-of-type(2){
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 2s ;
}
.div6:hover>.sec64>div:nth-of-type(2){
    transform: perspective(800px)  translateX(385px) ;
}
.div6>.sec65{
    width: 968px;
    height: 370px;
    top: 900px;
    left: 276px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    grid-template-columns: 400px auto;
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 3s;
}
.div6:hover>.sec65{
    top: 682px;
}
.div6>.sec65>section:nth-of-type(1){
    flex-direction: column;
    padding: 65px 55px;
}
.div6>.sec65>section:nth-of-type(1)>h3{
    font-size: 36px;
}
.div6>.sec65>section:nth-of-type(1)>p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.595);
}
.div6>.sec65>section:nth-of-type(1)>span{
    margin-top: 20px;
}
.div6>.sec65>section:nth-of-type(1)>span>span{
    margin: 10px 7px;
    font-size: 24px;
}
.div6>.sec65>section:nth-of-type(1)>span>span:hover{
    color: rgba(13, 36, 75, 0.779) ;
}
.div6>.sec65>section:nth-of-type(2){
    padding: 80px 10px;
}
.div6>.sec65>section:nth-of-type(2)>form{
    /* border: 1px solid black; */
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}
.div6>.sec65>section:nth-of-type(2)>form>*{
    /* border: 3px solid black; */
}
.div6>.sec65>section:nth-of-type(2)>form>section:nth-of-type(1){
    grid-area: 1 / 1 / 1 / span2 ;
    padding-left: 40px;

}
.div6>.sec65>section:nth-of-type(2)>form>section:nth-of-type(2){
    grid-area: 2 / 1 / 2 / span1 ;
    padding-left:38px;

}
.div6>.sec65>section:nth-of-type(2)>form>section:nth-of-type(3){
    grid-area: 2 / 2 / 2 / span1 ;
    padding-left: 8px;

}
.div6>.sec65>section:nth-of-type(2)>form>section:nth-of-type(4){
    grid-area: 3 / 1 / 3 / span2 ;
}
.div6>.sec65>section:nth-of-type(2)>form>section>label{
    margin: 5px 5px;
}
#text,#tel,#email{
    height: 50px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    text-indent: 10px;
}
#text{
    width: 470px;
}
#tel,#email{
    width: 230px;
}
#submit{
    width: 470px;
    height: 43px;
    background-color:rgb(241, 197, 14) ;
    border-radius: 5px;
    border: none;
    transition: .4s;
    font-size: 18px;
}
#submit:hover{
    background-color:rgb(13, 36, 75) ;
    color:white;
}
/* end div6 =----------------------------------------------------------------------------------------------------------------*/
.footer{
    background-color: rgb(51, 51, 51);
}
.footer>section:nth-of-type(1),
.footer>section:nth-of-type(2){
    width: 100%;
    color: rgba(255, 255, 255, 0.733);
}
.footer>section:nth-of-type(1){
    height: 154px;
}
.footer>section:nth-of-type(1){
    text-align: center;
}
/* end footer-------------------------------------------------------------------------------------------- */